@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARİABLES */
:root {
	--bg-green: #1F544A;
}

/* RESET */
html {
	font-size: 10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	font-size: 1.4rem;
	font-family: 'Poppins', sans-serif;
}

/* New Navbar CSS Start*/
.list-items ul {
	display: flex;
	align-items: center;
	justify-content: end;
}

.list-items ul li{
	padding: 0;
	margin: 0;
}

.list-items ul li a {
	font-size: 1.5rem;
}

.menu-container{
	display: none;
}

.icon-container2 svg{
	cursor: pointer;
}

.navIcon{
	cursor: pointer;
	background-color:var(--bg-green);
	color: #fff;
}

.navIcon:hover{
	background-color: #FFFFFF;
	color: var(--bg-green);
}


.openMenu{
	visibility: visible;
}


@media screen and (max-width:991px) {
	.menu-container{
		display: block;
	}
	
	.loginForm{
		display: none;
	}

	.list-items {
		/* display: none;	 */
	}

	.toggleMenu{
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 68px;
		right: 0;
		background-color: var(--bg-green);
		color: #fff;
		width: 0;
		/* visibility: hidden; */
	}

	.navIcon:hover #toggleNavList{
		width: 180px;
	} 

	.loginForm{
		order: 1;
		background-color: var(--bg-green);
	}

	.loginForm form{
		display: flex;
		flex-direction: column;
		border: 1px solid rgba(255, 255, 255, 0.3);
		width: 180px;
		justify-content: center;
		align-items: center;
		padding-bottom: 10px;
	}

	.toggleMenu .lang-container a{
		color: #fff;
	}

	.toggleMenu ul{
		display: flex;
		/* visibility: hidden; */
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		background-color: var(--bg-green);
		/* position: absolute; */
		padding: 0 !important;
		/* top: 68px;
		right: 0px; */
		z-index: 1000;
		order: 2;
	}

	.list-items ul li{
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	.list-items ul li:hover{
		background-color: #fff;
	}

	.list-items ul li a:hover{
		color: var(--bg-green);
	}

	.list-items ul li a{
		display: inline-block;
		width: 180px;
		color: #fff;
		margin: 0;
		font-size: 1.4rem;
		padding: 10px 10px;
	}

	.navbarContainer{
			height: 98px;
		}

		.icons-container{
			position: absolute;
			top: 40px;
			right: 20px;
			width: 100px;
		}
}




/* New Navbar CSS End */

/* NAVBAR */

.navbarContainer {
	position: relative;
	min-height: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#artIst-logo {
	/* position: absolute; */
	top: 0.3rem;
	left: 20px;
}

#logo-space {
	width: 100px;
	height: 100px;
	color: #FFFFFF;
}


#artIst-logo {
	width: 7rem;
	height: auto;
	position: absolute;
}

#nav-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* NAVBAR FORM */
.navbar-form {
	display: flex;
	justify-content: center;
}

.lang-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.lang-container a {
	color: black;
	font-size: 1.4rem;
	text-decoration: none;
	padding: 0.5rem;
}

.form-btn {
	width: 11rem;
	height: 3rem;
	border-radius: 25px;
	font-size: 1.4rem;
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.btn-form svg {
	height: 2rem;
	cursor: pointer;
}

.btn-1 {
	background-color: black;
	color: #FFFFFF;
	border: 1px solid black;
}

.btn-1:hover {
	background-color: #FFFFFF;
	color: black;
	border: 1px solid black;
}

.btn-2 {
	background-color: #FFFFFF;
	color: black;
	border: 1px solid black;
}

.btn-2:hover {
	background-color: black;
	color: #FFFFFF;
	border: 1px solid black;
}

@media screen and (max-width:991px) {
	#artIst-logo {
		width: 7rem;
		height: auto;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.navbar-container{
		min-height: 9rem;
	}

	.icon-container{
		position: absolute;
		right: 20px;
		top: 40px;
	}

	#toggleIcon{
		position: absolute;
		right: 70px;
	}

}

/* Slogan */
.sloganContainer {
	background-color: var(--bg-green) !important;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 38px;
}

/* MAİN CONTAİNER */

.main-container {
	background-color: black;
}

/* SECTİON-1 */

.section-1 div h1,
p {
	color: #FFFFFF;
}

/* COUNTER CONTAİNER */

#countdown-container {
	border-radius: 10px;
}

.counter-list li {
	background-color: black;
	width: 5rem;
	font-size: 1.4rem;
	color: #FFFFFF;
	border-radius: 8px !important;
}

.counter-list li span {
	font-size: 2rem;
}

.counter-list li small {
	font-weight: 100;
}


/* CARDS */

.card-container {
	background-color: black;
}

.card-container h2 {
	color: #FFFFFF;
	font-size: 1.5rem;
}

.card-container p {
	color: #FFFFFF;
	font-size: 1.2rem;
	font-weight: 200;
}

.card-container img {
	border-radius: 15px;
}

.card-body button {
	background-color: #FFFFFF;
	color: black;
	border-radius: 25px;
	width: 10rem;
}

.card-body button:hover {
	color: #FFFFFF;
}

/* PRODUCT SECTİON */

.products-container {
	position: relative;
}

.social-icons {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 100px;
	border: none;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 5px;
	border-radius: 0 10px 10px 0;
	gap: 5px;
	left: 0;
	top: 60%;
	outline: none;
}

.products-container .social-icons svg {
	height: 30px;
	color: #FFFFFF;
	cursor: pointer;
}

/* SWIPER */
.swiper {
	width: 600px;
	height: auto;
}

.swiper-container{
	overflow: hidden;
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
	color: #323232;
}

@media screen and (max-width:576px) {
	.swiper {
		width: 300px;
		height: auto;
	}
}

.products-container .winner-info h2 {
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}

.products-container .winner-info p {
	color: black;
}

.products-container .winner-info button {
	border-radius: 25px;
	width: 200px;
	background-color: black;
	color: #FFFFFF;
}

.products-container .winner-info button:hover {
	background-color: #FFFFFF;
	color: black;
}

/* BLOG SECTİON */

.blog-row{
	padding: 0 !important;
	margin: 0 !important;
}

.left-blog {
	height: 600px;
	background-color: #FC6738;
}

.left-blog h2 {
	font-size: 5rem;
	color: #FFFFFF;
	font-weight: 500;
	padding: 5rem;
}

.left-blog p {
	font-size: 3rem;
	padding-left: 5rem;
}

.left-blog span {
	font-size: 2rem;
	padding-left: 5rem;
	color: #FFFFFF;
}

.right-blog {
	height: 600px;
	padding: 0 0 !important;
	margin: 0 !important;
}

.right-blog img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

/* SSS & ABOUT SECTİON*/

.about-container {
	border: 0.5px solid rgb(94, 93, 93, 0.3);

}

.left-side {
	min-height: 600px;
}

.right-side {
	background-color: #E9E9E9;
	min-height: 600px;
}

.right-side p,
a {
	color: black;
	font-size: 1.8rem;
	padding: 3rem;
	text-decoration: none;
}

.right-side h2,
.left-side h2 {
	font-size: 2.5rem;
	padding-top: 5rem;
	padding-left: 3rem;
	font-weight: bold;
}

.accordion {
	position: relative;
}

.accordion-container {
	border-radius: 25px !important;
	border: 0.1px solid black;
}

.accordion-header button {
	border: none !important;
	background-color: transparent !important;
	font-size: 1.8rem !important;
	font-weight: bold;
	border-radius: 25px !important;
	border: none;
	position: absolute;
	left: 0;
	top: 0;
}

/* SSS ACORDİON */

/* --------------- */
.section-container{
	border: 1px solid black;
	border-radius: 15px;
	margin-bottom: 15px;
}

.accordion {
	background-color: white;
	color: black;
	font-weight: bold;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	border-radius: 15px;
  }

  .bi-caret-down, .bi-caret-up{
	float: right;
  }

  .bi-caret-up{
	display: none;
  }
  
  .active-acordion, .accordion:hover {
	background-color: white; 
  }
  
  .panel {
	padding: 0 18px;
	display: none;
	overflow: hidden;
  }

  .panel p{
	color: black;
  }



  /* --------------- */

/* FOOTER */

footer {
	background-color: black;
}

footer .row-container {
	background-color: black;
	color: #FFFFFF;
	padding-top: 7rem;
	/* border: 1px solid red; */
}

footer .row-container .col-container {
	margin-bottom: 4rem;
	white-space: nowrap;
}

footer .row-container .col-container h2 {
	padding-left: 5rem;
}

footer .row-container .col-container ul {
	margin-top: 1rem;
}

footer .row-container .col-container ul li {
	list-style: none;
	margin-top: 1rem;

}

footer .row-container .col-container ul li a {
	color: #FFFFFF;
	font-size: 1.6rem;
	font-weight: 100;
}

/* Footer Bottom Container */
.footer-bottom-container {
	padding-left: 5rem;
	padding-bottom: 7rem;
}

.footer-bottom-container div h2 {
	color: #FFFFFF;
	margin-bottom: 2rem;
	font-size: 1.8rem;
}

.footer-bottom-container img {
	height: 80px;
	border: 1px solid white;
	box-shadow: 0 0 5px;
	border-radius: 15px;
	cursor: pointer;
}

.shop-container {
	margin-bottom: 2rem;
}

.shop-container img{
	margin-bottom: 2rem;
	height: 50px;
}
.app-container img {
	margin-bottom: 2rem;
	height: 50px;
}