.product-card{
	
}

.img-container img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-container{
	position: relative;
	overflow: hidden;
}

.img-container-before{
	display: block;
	overflow: hidden;
	visibility: hidden;
	height: 0;
	background-image: url(../assets/img/product-fone.jpg);
	background-size: cover;
	top: -20%;
	position: absolute;
	transition: all .5s;
	
}

.product-card:hover .img-container-before{
	height: 120%;
	visibility: visible;
}

