.product-card{
	margin-bottom: 50px !important;
	width: 300px;
}

.img-container img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-container{
	position: relative;
	overflow: hidden;
}

.img-container-before{
	display: block;
	overflow: hidden;
	visibility: hidden;
	height: 0;
	background-image: url(../assets/img/product-fone.jpg);
	background-size: cover;
	top: -20%;
	position: absolute;
	transition: all .5s;
	width: 300px;
	
}

.product-card:hover .img-container-before{
	height: 120%;
	visibility: visible;
}

#beforeTexts{
	font-size: 1.5rem;
}

#beforeButtons button:first-child{
	width: 150px;
	border-radius: 20px;
	padding: 5px;
	background-color: black;
	color: #fff;
	border: 1px solid black;
}

#beforeButtons button:first-child:hover{
	background-color: #fff;
	color: black;
}

#beforeButtons button:last-child{
	width: 150px;
	border-radius: 20px;
	padding: 5px;
	background-color: #fff !important;
	color: black !important;
	border: 1px solid black;
}

#beforeButtons button:last-child:hover{
	background-color: black !important;
	color: #fff !important;
}

@media (max-width:768px) {
	#cardsContainer{
		justify-content: center !important;
	}
}