@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #fff;
}



.login-container {
	background-image: url(../assets/img/bg/christin-hume-Hcfwew744z4-unsplash.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100% !important;
	overflow-x: hidden;
	margin: 0 !important;
}

.lang-container a {
	color: #fff;
	text-decoration: none;
	font-weight: 200;
	padding: 5px;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
}

form input {
	width: 320px;
	border-radius: 25px;
	border: 1px solid black;
	outline: none;
	padding: 8px;
	padding-left: 20px;
	font-size: 14px;
}

.form-check label {
	font-size: 10px;
	padding-left: 10px;
}


.fa-google {
	background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	font-size: 1rem;
	padding-right: 10px;
}

.form-container form .yada {
	color: #fff;
	font-size: 10px;
}

.form-container .btn {
	border: 1px solid black;
	border-radius: 25px;
	width: 200px;
	background-color: #fff;
	font-size: 13px;
	font-weight: 600;
}

.form-container .btn:hover {
	background-color: gray;
}

.sign-up-container p,
a {
	color: #fff;
	font-size: 13px;
}


/* Eklenenler */
.sign-up-header {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.lang-container a {
	font-size: 18px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.headDiv h2 {
	font-size: 40px;
	margin-top: 80px;
	margin-bottom: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.user-choice{
	gap: 5px;
}

#loginDiv,
#signUpDiv {
	width: 200px;
	height: 171px;
	border: 3px solid white;
	border-radius: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: 0.5s;
}

#loginDiv:hover,
#signUpDiv:hover {
	border: 3px solid purple;
	opacity: 0.7;
}

#loginForm{
	gap: 10px;
}

#loginForm input {
	width: 450px;
	height: 40px !important;
	color: black;
}

#loginForm .form-check{
	display: flex;
	justify-content: center;
	align-items: center;
}

#loginForm .form-check .formInput {
	width: 20px;
	border: 1px solid white;
	cursor: pointer;
}

#loginForm .form-check label{
	flex-grow: 1;
}

#loginForm .form-check label u{
	cursor: pointer;
}

#loginForm button {
	width: 297px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#loginForm button span{
	color: black;
}

.sign-up-container p a:hover {
	color: purple;
}


@media (max-width:768px) {
	.sign-up-header #artIst-logo img {
		height: 50px !important;
	}

	.form-container {
		width: 100%;
		height: 100vh;
	}

	.form-container .headDiv h2 {
		font-size: 2rem;
	}

	#loginDiv,
	#signUpDiv {
		width: 100px;
		height: 85px;
		display: flex;
		justify-content: center;
	}

	#loginDiv img,
	#signUpDiv img{
		width: 20px;
	}

	#loginDiv label,
	#signUpDiv label{
		font-size: 10px;
	}

	#loginForm input {
		width: 250px;
		height: 20px;
		font-size: 10px;
	}

	#loginForm button{
		width: 150px;
		height: 30px;
		font-size: 10px;
	}
}